* {
  box-sizing: border-box;
}

body {
  padding: 5px;
  font-size: 14px;
  font-family: Arial;
}

.slide {
  font-size: 14px;
  border: 1px dashed grey;
  padding: 10px;
}

.slide blockquote {
  background-color: #faf4f4;
  color: red;
  padding: 5px;
  width: 100%;
  margin: 0;
  margin-bottom: 1.45rem;
  font-family: monospace;
  font-size: 16px;
  border-left: 5px solid #fff;
}
code {
  font-size: 0.85rem;
  line-height: 1.45rem;
}

code {
  background-color: #faf4f4;
  border-radius: 3px;
  font-family: SFMono-Regular, Consolas, Roboto Mono, Droid Sans Mono,
    Liberation Mono, Menlo, Courier, monospace;
  padding: 3px 5px;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

.info code {
  color: red;
}

b,
strong {
  font-weight: bold;
}

blockquote :last-child,
p :last-child {
  margin-bottom: 0;
}

code:after,
code:before {
  letter-spacing: -0.2em;
  content: " ";
}
